@import "../../index.scss";

.service__card {
  text-align: center;
  margin-bottom: 2rem;

  h4 {
    color: $text-color;
    text-shadow: 1px 1px 1px black;
  }
  &:hover {
    h4 {
      color: $main;
      transition: $hover-trans;
    }
  }
}
