.service__card {
  text-align: center;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 0;
  margin-bottom: 2rem;

  h3 {
    color: chocolate;
    text-shadow: 1px 1px 1px black;
    font-size: 2rem;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 5%;
  }
  &:hover {
    h3 {
      filter: brightness(150%);
      transition: all 0.1s ease 0s;
    }
  }
}
