@import "../../index.scss";

$form-bg: hsl(0, 0%, 21%);

.modal-background {
  width: 100vw;
  height: 100vh;
}

.modal-enter {
  opacity: 0;
  transform: translateY(-110%);
  max-width: 350px;
}

.modal-enter-active {
  opacity: 100;
  transform: translateY(0%);
  transition: $slide;
}

.modal-exit-active {
  max-width: 350px;
  opacity: 0;
  transform: translateY(-110%);
  transition: $slide;
}

.modal-enter-done {
  max-width: 350px;
}

.modal {
  background: $form-bg;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -230px;
  margin-left: -170px;
  width: 340px;
  height: 460px;
  z-index: 4;
  border-top: 1px solid opacify($color: $form-bg, $amount: 0.7);
  border-left: 1px solid opacify($color: $form-bg, $amount: 0.7);

  form {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 3rem;

    .form__item {
      width: 60%;
      margin: 0.4rem 0;
      border: 2px solid rgba(128, 128, 128, 0.2);
      padding: 0.5rem 2rem;
      border-radius: 30px;

      &:last-child {
        margin-top: 1rem;
      }
    }

    textarea {
      resize: none;
    }

    h3 {
      display: flex;
      justify-content: space-between;
      width: 80%;

      div {
        position: absolute;
        background: $bg;
        top: 5%;
        right: 10%;
        cursor: pointer;
        color: $text-color;
        box-shadow: 0 15px 20px -5px black;
        border-radius: 50px;
        font-size: 1rem;
        padding: 0.3rem 0.65rem;
        font-weight: 500;
        border: 2px solid rgb(63, 63, 63);

        &:hover {
          filter: brightness(150%);
        }
      }
    }

    button {
      cursor: pointer;
      background: $bg;
      color: white;
      font-weight: 500;
      box-shadow: 0 15px 30px -12px black;

      &:hover {
        filter: brightness(150%);
        transition: $hover-trans;
      }
    }
  }
}
