.therapy-page {
  margin: 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
      margin-top: 10%;
    width: 100%;
    height: auto;
  }

  > * {
    width: 100%;
  }

  p {
    text-align: justify;
  }
  h2,
  h3 {
    text-align: center;
  }
  h3 {
    color: rgb(190, 90, 9);
    margin: 0;
  }
}
