@import "../../index.scss";

header {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    margin: 5% 10% 0 10%;
    width: 80%;
    height: auto;
  }

  .burger:hover {
    cursor: pointer;
    .burger__icon {
      color: $main;
      transition: $hover-trans;
    }
  }
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
}

.nav__link {
  min-width: 220px;
  font-size: 0.8rem;
  margin: 0 auto 0.5rem 0;
  background: $bg;
  z-index: 2;
  padding: 0.3rem 1rem;
  border: 2px solid opacify($main, 0.7);
  border-left: 0;
  border-top: 0;
  border-top-right-radius: 10px;

  &:first-child {
    margin-top: 1rem;
  }

  &:hover {
    color: $main;
    filter: brightness(150%);
    padding-left: 5rem;
    transform: scale(150%);
    transition: $hover-trans;
  }
}

.menu-enter {
  opacity: 0;
  transform: translateX(-110%);
}

.menu-enter-active {
  opacity: 100;
  transform: translateX(0%);
  transition: $slide;
}

.menu-exit-active {
  opacity: 0;
  transform: translateX(-110%);
  transition: $slide;
}
