@import "../../index.scss";

.personel {
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(110%);
      transition: $hover-trans;
    }
    span {
      color: $main;
      transition: $hover-trans;
    }
  }
  h5 {
    margin: 0.5rem 0;
    color: $main;
  }
}
