#root {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
  }

  ul li:before {
    color: rgb(190, 90, 19);
    content: "\2014";
    position: absolute;
    margin-left: -20px;
  }

  main {
    height: 50%;
  }
}
