// colors
$main: rgba(190, 90, 19, 1);
$bg: rgb(26, 26, 26);
$text-color: rgb(255, 255, 255);
$footer-color: grey;

// transitions
$hover-trans: all 0.3s ease 0s;
$slide: all 500ms cubic-bezier(1, 0, 0, 1);

html,
body {
  font-size: 17px;
  box-sizing: border-box;
  background: $bg;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
