// colors
$main: rgb(223, 100, 13);
$bg: rgb(26, 26, 26);
$text-color: rgb(255, 255, 255);
$footer-color: grey;
$form-bg: hsl(0, 0%, 21%);

// transitions
$hover-trans: all 0.3s ease 0s;
$slide: all 500ms cubic-bezier(1, 0, 0, 1);

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
